<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <form method="post">
        <h1>Register Now</h1>
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Sign Up</button>
      </form>
    </main>
  </body>
</html> -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

    <div class="elements name">
      <form> 
        <button><a href="login">Login</a></button>
      </form>
    </div>
    <div class="box">
      <div class="elements untoldcoding"></div>
      <div class="elements name">
        <h3>Registration Page</h3>
      </div>
      <div class="elements content">
        <form method="post">
          <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="card"></div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/
vanilla-tilt.min.js"></script>
    
</body>
</html>


